<footer>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="mb-4">
                    <img src="assets/ligth-logo.png" alt="qadnc logo" width="300" />
                </div>
                <div>
                    <span>
                        وصف الجمعية تعتبر الجمعية التعاونية إحدى المؤسسات التنموية التي تسهم في تحقيق التنمية المستدامة
                        اقتصادياً واجتماعيا، على أساس تطوير وتنمية أفراد المجتمع المحلي في المجالات التقنية والمهنية
                        والأغراض التنموية المتعددة.
                    </span>
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <h5>
                        روابط مهمه
                    </h5>
                </div>
                <div>
                    <ul>
                        <li>من نحن</li>
                        <li>أهداف الجمعية</li>
                        <li>مجلس الادارة</li>
                        <li>الدورات</li>
                        <li>تسجيل دخول</li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <h5>
                        تواصل معنا
                    </h5>
                </div>
                <div class="row mb-3">
                    <div class="col">sss</div>
                    <div class="col-10">
                        <div>البريد الإلكتروني</div>
                        <a href="mailto:server@sds-sa.net">server@sds-sa.net</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">sss</div>
                    <div class="col-10">
                        <div>الجوال</div>
                        <a href="tel:0556430630">0556430630</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <h5>
                        عنوان المؤسسة
                    </h5>
                </div>
                <div>
                    الرياض - حي المربع - طريق الأمير فيصل بن تركي بن عبدالعزيز
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <strong>
            جميع الحقوق محفوظة © الجمعية التعاونية تأهيل وتطوير الكوادر الوطنية
        </strong>
    </div>
</div>