<footer>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <img src="assets/light-logo.png" alt="qadnc logo" width="100px" />
                </div>
                <div>
                    <span>
                        وصف الجمعية تعتبر الجمعية التعاونية إحدى المؤسسات التنموية التي تسهم في تحقيق التنمية المستدامة
                        اقتصادياً واجتماعيا، على أساس تطوير وتنمية أفراد المجتمع المحلي في المجالات التقنية والمهنية
                        والأغراض التنموية المتعددة.
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <h5>
                        روابط مهمه
                    </h5>
                </div>
                <div>
                    <ul>
                        <li>من نحن</li>
                        <li>أهداف الجمعية</li>
                        <li>مجلس الادارة</li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <h5>
                        تواصل معنا
                    </h5>
                </div>
                <div>
                    <span>sss</span>
                    <div>
                        <div>البريد الإلكتروني</div>
                        <a href="mailto:server@sds-sa.net">server@sds-sa.net</a>
                    </div>
                </div>
                <div>
                    <span>sss</span>
                    <div>الجوال</div>
                    <a href="tel:0556430630">0556430630</a>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <h5>
                        عنوان المؤسسة
                    </h5>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        جميع الحقوق محفوظة © الجمعية التعاونية تأهيل وتطوير الكوادر الوطنية
    </div>
</div>