<div>
    <img src="assets/images/Roadmap.jpg" width="100%" />
</div>

<div class="container">
    <div class="row about-us">
        <div class="col-md-4 col-12">
            <img src="assets/images/Business-1.png" style="width: 100%;" />
        </div>
        <div class="col-md-8 col-12">
            <div class="about-us-title">
                من نحن
            </div>
            <div class="about-us-orgname">
                الجمعية التعاونية لتأهيل وتطوير الكوادر الوطنية
            </div>
            <div class="about-us-desc">
                تعتبر الجمعية التعاونية إحدى المؤسسات التنموية التي تسهم في تحقيق التنمية المستدامة
                اقتصادياً واجتماعيا،
                على أساس تطوير وتنمية أفراد المجتمع المحلي في المجالات التقنية والمهنية والأغراض التنموية المتعددة.
            </div>
            <!-- <div class="about-us-desc">
                • إقامة وتبني الدورات الفنية والمهنية والمحاضرات وورش العمل التعاونية والبرامج البحثية وتقديمها لأفراد
                المجتمع من قبل المختصين من الأعضاء في الجمعية.
            </div>
            <div class="about-us-desc">
                •	تجهيز الصالات والقاعات حسب احتياج التدريب في سوق العمل بأسعار تنافسية.
            </div>
            <div class="about-us-desc">
                •	دعم وتحفيز مفهوم التدريب التعاوني والتدريب الإنتاجي.
            </div> -->
        </div>
    </div>
</div>

<div class="activity">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 ">
                <div class="activity-title">
                    أنشطة الجمعية
                </div>
            </div>
        </div>
        <div class="row activity-body">
            <div class="col-3">
                <div class="activity-icon">
                    <img src="assets/images/icon.svg" width="100%" />
                </div>
                <div>
                    التوعية والتثقيف
                </div>
            </div>
            <div class="col-3">
                <div class="activity-icon">
                    <img src="assets/images/icon.svg" width="100%" />
                </div>
                <div>
                    التأهيل والتدريب
                </div>
            </div>
            <div class="col-3">
                <div class="activity-icon">
                    <img src="assets/images/icon.svg" width="100%" />
                </div>
                <div>
                    الفعاليات
                </div>
            </div>
            <div class="col-3">
                <div class="activity-icon">
                    <img src="assets/images/icon.svg" width="100%" />
                </div>
                <div>
                    الدراسات والأبحاث
                </div>
            </div>
        </div>
    </div>
</div>


<div class="board">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 ">
                <div class="activity-title">
                    أعضاء مجلس الإدارة
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-6 text-center">
                <div class="mb-2">
                    <img src="assets/images/default.png" alt="" class="board-img">
                </div>
                <div class="mb-2">
                    <strong>
                        عبدالله الهدلق
                    </strong>
                </div>
                <div>
                    رئيس مجلس الإدارة
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="mb-2">
                    <img src="assets/images/default.png" alt="" class="board-img">
                </div>
                <div class="mb-2">
                    <strong>
                        صالح الجعيلان
                    </strong>
                </div>
                <div>
                    نائب رئيس مجلس الإدارة
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center">
                <div class="mb-2">
                    <img src="assets/images/default.png" alt="" class="board-img">
                </div>
                <div class="mb-2">
                    <strong>
                        عبده أزيبي 
                    </strong>
                </div>
                <div>
                    المشرف المالي عضو مجلس إدارة
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="mb-2">
                    <img src="assets/images/default.png" alt="" class="board-img">
                </div>
                <div class="mb-2">
                    <strong>
                        يحي أزيبي 
                    </strong>
                </div>
                <div>
                    عضو مجلس إدارة
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="mb-2">
                    <img src="assets/images/default.png" alt="" class="board-img">
                </div>
                <div class="mb-2">
                    <strong>
                        عبدالرحمن الرشيد 
                    </strong>
                </div>
                <div>
                    عضو مجلس إدارة
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row about-us">
        <div class="col">
            <div class="about-us-title">
                اتصل بنا
            </div>
            <div class="about-us-orgname">
                الجمعية التعاونية لتأهيل وتطوير الكوادر الوطنية
            </div>
            <div class="about-us-desc mb-4">
                الرياض - حي المربع - طريق الأمير فيصل بن تركي بن عبدالعزيز
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-2"><i class="fas fa-envelope contact-us-icon"></i></div>
                        <div class="col-10">
                            <div class="mb-1">
                                <strong>البريد الإلكتروني</strong>
                            </div>
                            <a href="mailto:server@sds-sa.net">info@qadnc.org.sa</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-2"><i class="fas fa-phone-alt contact-us-icon"></i></div>
                        <div class="col-10">
                            <div class="mb-1">
                                <strong>الجوال</strong>
                            </div>
                            <a href="tel:0504792206" dir="ltr">00966 504792206</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-left">
            <img src="assets/images/contact-us.png" />
        </div>
    </div>
</div>