/* You can add global styles to this file, and also import other style files */
.text-left {
    text-align: left;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a, a:hover {
    text-decoration: none !important;
}